﻿#embedded-feed{
	height:435px;
}

.yammerContainer{
	margin-right:20px;
}

.yammerquestionscontainer{
	
}


.yammerquestionsheader{
	background:rgb(211, 17, 69);
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	color:#ffffff;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}

.yammerquestionslist{
	background:#ECECEC;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:20px;
	padding-right:20px;
	min-height:100px;
}

.questionitem{
	padding-top:5px;
	padding-bottom:5px;
	
	
}


.candycontentscontainer{
	margin-top:10px;
	width:100%;
	background-color:#E30448;
	border-radius:4px;
	padding-bottom:10px;
	margin-bottom:30px;	
}

.candycontentstitle{
	height:24px;
	padding-left:20px;
	padding-top:5px;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}

.candycontentslistarea{
	/*width:100%; */
	min-height:100px;
	background-color:#ffffff;
	margin-left:10px;
	/* margin-bottom:10px; */
	margin-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
}

.candycontentslistarea ul{
	margin-top:0px;
}

.faqbannercontainer{
	margin-bottom:20px;
}

.faqbannercontainer img{
	width:100% !important;	
	height:auto !important;
}

.faqlistscontainer{
	display:table;
	width:100%;
}

.faqquestioncontainer{
	display:table-row;
}

.faqquestionicon{
	background-position:center 10px;
	background-repeat:no-repeat;
	background-image:url('../img/question.png');
	width:21px;
	height:21px;
	display:table-cell;	
	border-bottom:1px #AEAEAE solid;		
}

.faqquestionandanswercontainer{
	display:table-cell;
	padding-left:10px;

	
}

.faqitemquestion{
	
}

.faqyammerquestion{
	
}

.faqquestion{
	display:table-cell;
	padding-top:10px;	
	padding-bottom:10px;
	padding-left:10px;
	vertical-align:top;
	border-bottom:1px #AEAEAE solid;	
	
}

.faqquestion a{
	color:#000000;

}

.faqrepliscount{
	display:table-cell;
	border-bottom:1px #AEAEAE solid;
	vertical-align: top;
	color: #999999;
	white-space:nowrap;
	padding-top:10px;	
}

.faqdetailbuttoncontainer{
	display:table-cell;
	border-bottom:1px #AEAEAE solid;
	padding:10px 0px;	
}

.faqdetailbuttoncontainer a{
	text-decoration:none !important;
}

.faqdetailbutton{
	/* display:table-cell;	*/
	width:50px;
	background:#F00F57;
	color:#fff;
	padding:4px 8px;
	text-align:center;
	margin-left:10px;
}

.faqdetailbutton:hover{
	text-decoration:none !important;
}



.faqquestionbigicon{
	background-position:center top;
	background-repeat:no-repeat;
	background-image:url('../img/question_big.png');
	width:48px;
	height:48px;
	display:table-cell;	
	vertical-align:top;	
}

.faqitemquestion, .faqyammerquestioncontainer, .faqyammerconversationcontainer{
	margin-bottom:20px;
}

.faqyammeranswercontainer{
	display:none;
	border-top:1px #A8A8A8 solid;
	border-left:1px #A8A8A8 solid;
	border-right:1px #A8A8A8 solid;

}

.faqyammeranswertext{
	display:inline-block;
	width:135px;
	height:25px;
	text-align:center;
	background:#F00F57;
	color:#ffffff;
	padding-top:5px;
}

.faqyammeransweredby{
	display:inline-block;	
	padding-left:10px;
	color:#777777;
	
}

.faqyammeranswer{
	display:block;
	padding:0px 20px 10px;
}

.faqyammeranswer .conversationitem{
	border-bottom:1px #A8A8A8 solid;
}

.conversationitem:last-child{	
	border-bottom:0px transparent solid;
}

.faqyammerconversationcontainer{
	display:none;
	border-top:1px #A8A8A8 solid;
	border-left:1px #A8A8A8 solid;
	border-right:1px #A8A8A8 solid;
	border-bottom:1px #A8A8A8 solid;	
	background:	#eeeeee;
	padding-bottom:0px;
}

.faqyammerconversationtext{
	display:block;
	width:135px;
	height:25px;
	text-align:center;
	background:#F00F57;
	color:#ffffff;
	padding-top:5px;
}

.faqyammerconversationlist{
	margin:0px 20px 10px 20px;
}

.conversationitem{
	padding:10px 0px;
	border-bottom:1px #fff solid;
}

.conversationitem a, .conversationitem a:visited{
	color: rgb(211, 17, 69);
}

.conversationby{
	padding-top:10px;	
	width:100%;
	text-align:right;
	color:#777777;
	
}

.conversationby a, .conversationby a:visited{
    color: rgb(211, 17, 69);
}

.attachmentstitle{
	margin-top:10px;
}

.attachmentrow{
	margin-top:10px;
	display:table;
}

.attachmentsmallicon{
	display:table-cell;
}

.attachmentlink{
	display:table-cell;
	padding-left:10px;
	vertical-align:middle;
}

.glossarybannercontainer img{
	width:100% !important;	
	height:auto !important;

}

.glossaryfiltercontainer{
	margin-bottom:15px;
}

.glossaryfilteritem{
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	color:#DC1D3B;
	padding:4px 8px;
	cursor:pointer;
}

.glossaryfilteritem:hover, .glossaryfilteritem.selected{
	background:#DC1D3B;
	color:#ffffff;
}

.termbuttonscontainer{
	margin-bottom:10px;
}


.termitem{
	/* display:table; */
	display:none;
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
}


.termdescboxcontainer{
	display:table-cell;		
	padding-left:10px;
}

.termnameboxcontainer{
	display:table-cell;	
	width:190px;	
}

.LikeSection{
	display:table;
	width:100px;
}

.likecontainer{
	display:table-cell;
	width:100px;	
}

.likescount{
	display:table-cell;
	width:50px;
	text-align:right;
}

.likelink{
	display:table-cell;
	width:50px;
	padding-left:5px;
}

	.likelink a, .likelink a:visited{
		color:rgb(211, 17, 69) !important;
	}


.termnameboxcontainer a, .termnameboxcontainer a:hover, .termnameboxcontainer a:visited{
	display:block;
	text-decoration:none;
}

.termdescboxcontainer a, .termdescboxcontainer a:hover, .termdescboxcontainer a:visited{
	color:#000000;
	
}

.termbutton{
	/* display:inline-block;	*/
	display:none;
	cursor:pointer;

}

.termnamebox, .termbutton{

	background-color:#cccccc;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;	
	margin-left:0px;
	margin-right:5px;
	margin-bottom:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-bottom:#999999 solid 2px;
	font-size:13px;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	
}


@media only screen and (max-width: 768px) {

	.termbuttonscontainer{
		display:none;
	}
	
	.termitem{
		width:auto;
		border-bottom:2px #000 dotted;
		padding-bottom:10px;
	}
	
	.termdescboxcontainer{
		display:block;		
		padding-left:0px;
		padding-right:0px;	
	}
	
	.termnameboxcontainer{
		display:flex;	
		padding-left:0px;
		padding-right:0px;	
		width:auto;
	}
	
	.likecontainer{
		display:block;
		text-align:right;
		width:100%;
		line-height:25px;
	}
	.LikeSection{
		width:100%;	
		line-height:25px;		
	}
	.likescount{
		width:auto;	
		line-height:25px;	
	}
		
	.likelink{
		width:40px;
		text-align:left;
		line-height:25px;	
	}
	
	
	.faqquestionbigicon{
		display:none;
	}

	.faqquestionandanswercontainer{
		padding-left:0px;	
	}

	.faqdetailbutton{
		display:none;
	}
	
	.bottomleftarea{
		display:block;
		width:100% !important;
		margin-bottom:20px;
	}
	
	.yammerContainer{
		margin-right:0px;	
	}
	
	.bottomrightarea{
		display:block;
		width:100% !important;
	}

}



