﻿.ms-cui-menu{
	z-index:1003 !important;
}

.ms-cui-tabContainer{
	z-index:1002 !important;
}

.sp13custom-LeftNavigation>.root>li:first-child{
	display:none;
}

.ms-srchnav-link-selected:link, .ms-srchnav-link-selected:visited{
	color:#0072c6;
}

.ms-ref-refinername:link, .ms-ref-refinername:visited{
	color:#0072c6;
}

.ms-ref-name{
	color:#ffffff;
}

.slider_extent_label_section, .handle_label{
	color:#ffffff;
}

.ms-commandLink, .ms-commandLink:visited, .ms-commandGlyph, .ms-commandGlyph:visited{
	color:#0072c6;
}

a.ms-acal-apanel-title span, a.ms-acal-apanel-title:hover span{
	color:#ffffff;
}

.ms-picker-table{
	background-color:#ffffff;	
}

.ms-picker-footer a{
	color:#0072c6;
}

.ms-acal-apanel-item{
	color:#0072c6;
}

a, .ms-link:visited{
	color:#0072c6;
}


.left_menu {
position:fixed;
top:0px;   /*84px*/
left:0px;
bottom:0px;
width:35px;
background-color:rgb(48,48,48);
z-index:1001;
display:none;
cursor:pointer;

/*
-webkit-box-shadow: 10px 0px 10px -2px rgba(48,48,48,0.5);
-moz-box-shadow: 10px 0px 10px -2px rgba(48,48,48,0.5);
box-shadow: 10px 0px 10px -2px rgba(48,48,48,0.5);
*/

}

.left_menu_content.loaded{
position:fixed;
top:0px;   /*84px*/
left:-1px;
bottom:0px;
width:270px;
background-color:rgb(68,68,68);
z-index:1000;
display:none;
overflow-y:auto;
transform: translate(-270px, 0px);
transition: all 0.5s ease 0s;
-webkit-transform: translate(-270px, 0px);
-webkit-transition: all 0.5s ease 0s;
-ms-transform: translate(-270px, 0px);
-ms-transition: all 0.5s ease 0s;
-webkit-box-shadow: 10px 0px 10px -2px rgba(48,48,48,0.5);
-moz-box-shadow: 10px 0px 10px -2px rgba(48,48,48,0.5);
box-shadow: 10px 0px 10px -2px rgba(48,48,48,0.5);


}

.menu-open .left_menu_content.loaded{
	transform: translate(35px, 0px);
	-webkit-transform: translate(35px, 0px);
	-ms-transform: translate(35px, 0px);
}

 #s4-bodyContainer{
    /*margin-left:35px !important;*/
	margin-right: 35px;
	margin-left:65px;
	/*
    transform: translate(35px, 0px);
	-webkit-transform: translate(35px, 0px);
	-ms-transform: translate(35px, 0px);
	*/
}

.sp13custom-LeftNavigation{
	padding-left:10px;
	padding-right:10px;
}

#s4-workspace{
/* overflow-x: hidden; */
}

.menu-open #s4-bodyContainer{
/*
    margin-right: 410px;
    transform: translate(410px, 0px);
	-webkit-transform: translate(410px, 0px);
	-ms-transform: translate(410px, 0px);
	transition: all 1s ease 0s;
*/
}

.left_menu.half{
	top:34px;
}

.left_menu_content.loaded.half{
	top:34px;
}

.menu-link{
	color:#FFFFFF !important;
}
.menu-link a{
	color:#FFFFFF !important;
	text-decoration:none;
}
.menu-link{
	padding:3px;
	width:25px;
	height:40px;
	float:left;
	font-size:26px;
	color:#FFFFFF !important;
	text-align: center;
}
.left_menu_content.loaded ul{
	padding:0px;
	margin:0px;
	list-style:none;
	/* padding-top:20px; */
	
}
.left_menu_content.loaded ul ul{
	padding-top:0px !important;
	
}

.left_menu_content.loaded ul ul ul{
	padding-left:20px !important;	
}

.left_menu_content.loaded ul li{
	margin: 0px;
	padding: 0px;
	/*
	border-top: 1px solid #FFF;
	*/
	border-bottom: 1px solid #353535;
	
}

.left_menu_content.loaded ul li .menu-item-text{
	color:#fff;
}

.left_menu_content.loaded ul li a{
	display:block;
	color:#fff;
	/* padding:1em; */
}

.left_menu_content.loaded ul li a:hover{
	background-color:transparent;
	
	/*
	background-color:#DDDDDD;
	background-image:url('');
	color:#666;
	*/
}


@media screen and (orientation:portrait) {
/*
	.left_menu_content.loaded{
		top:0px;
		left:-375px;
		bottom:0px;
		width:375px;

	}
	*/
}

@media only screen and (max-width: 480px) {
/*
	.left_menu {
		width:55px;
	}
	
	.left_menu a.menu-link{
		width:45px;
		margin-left:auto;
		margin-right:auto;		
	}
*/
}

/* Phone Portrait (320px) */
@media only screen and (max-width: 320px) {
	
	/*
	.left_menu {
		top:0px;
		left:0px;
		bottom:0px;
		width:30px;

	}
	
	.left_menu_content.loaded{
		top:0px;
		left:-375px;
		bottom:0px;
		width:375px;

	}
	*/
	/*
	.menu-link{
		padding:5px;
		width:20px;
		height:30px;
		float:left;
		font-size:20px;
		color:#FFFFFF !important;
	}
	*/
	/*
	.left_menu_content.loaded ul{
		padding:0px;
		margin:0px;
		list-style:none;
		padding-top:30px;
		
	}

    #s4-bodyContainer{
    	margin-left:30px !important;
    }
  */  
	.sp13custom-promotionCaption{
		right:20px !important;
	}
}


.added{

width: auto !important;

}

.ms-listMenu-editLink{
	display: none !important;
}





.menu-close .main-canvas {

}

.ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item {
line-height:18px;
font-size:14px;
padding:8px 14px 9px 13px;
}



.left_menu_border{
/*
display:none;
position: absolute;
height: 100%;
width: 10px;
right:0px;

background-color:transparent;
background-image:url('../img/menu_right_gradient.png');
background-repeat:repeat-y;
background-position:right;
*/	
}


.ms-core-listMenu-selected:link, .ms-core-listMenu-selected:visited, .ms-core-listMenu-selected {
    /*
    background-color: #009ce4;
	background-image:url('../img/menu_locator_top_bg.png');
	background-repeat:repeat-x;
	background-position:top;
	*/
	background-color:transparent;
	color:#FFF;
	font-weight:normal;
}




/*

@media screen and (min-width: 768px) {	
	#sp13custom-bodyContainer{

		min-width:733px !important;

	}
}

*/



/*


@media only screen and (max-width : 1143px) {
	.menu-open #sp13custom-HeaderContainer .col{
	width: 100% !important;
	position:relative;
	height:50px;
	}

}
@media (max-width:1470px) {
	.menu-open .ms-srch-sb > input {
		width: 100px;
	}
}
@media (max-width:1230px) {
	.menu-open .ms-srch-sb > input {
		width: 80px;
	}
}
@media (max-width:1143px) {
	.menu-open .sp13custom-Language{
		text-align: right;
		padding-right:10px;
	}
}
@media (max-width:855px) {
	.menu-open .sp13custom-Language{
		position: absolute;
		width: 100%;
	}
	.menu-open .sp13custom-Search{
		min-height:1px !important;
	}
}
@media (max-width:410px) {
	.menu-open .left_menu_content.loaded{
		width:100% !important;
	}
}
.ms-siteicon-img {
	max-width: 235px !important;
}

.menu-open #sp13custom-bodyContainer{
	min-width: 358px;
}
.menu-open #s4-bodyContainer{
	overflow:hidden;
}

@media (min-width:768px) and (max-width:1143px) {
	.menu-open .contentwrapper .col.three{
		width:auto !important;
	}
	.menu-open .contentwrapper .col.four{
		width:auto !important;
	}
	
	.menu-open .contentwrapper .col.nine{
		width:100%;
	}
	
	.menu-open .contentwrapper .col.one{
		width:100%;
	}
	
	.menu-open .contentwrapper .col.eleven{
		width:100%;
	}
	
	.menu-open #sp13custom-ceoMessageContainer {
		height: auto;
		margin-left: 0px;
		padding-bottom: 10px;
	}
	
	.menu-open #sp13custom-footerContainer .col.two{
		width:100%;
	}
	
	.menu-open .slidingContent {
		background-color: #D4E5EF;
		padding: 10px;
		width: auto;
		height: auto;
		float: none;
	}


	.menu-open .slidingButton {
		height: 49px;
		text-align: center;
		display: block;
		float: none;
		width: 100%;
		margin-top: 0px;
	}

	.menu-open .slidingButton img {
		transform: rotate(270deg);
		margin-top: -42px;
	}

	.menu-open .slidingButton {
		text-align: center;
	}

	.menu-open #sp13custom-slidingContainer {
		background-color: #FFF;
		min-height: 1px;
		position: relative;
		right: auto;
		top: auto;
		clear: both;
	}
	
	

	
	
}


*/








