﻿.ms-srch-people-outerContainer {
	border-bottom-width: 10px !important;
	border-bottom-style: solid !important;
	border-bottom-color: #ffffff !important;
	background-color: #e4e4e4 !important;
}

.SearchResultContent_Right .ms-webpartzone-cell {
	background-color: #ffffff;
}

@media only screen and (max-width:480px) {
	#UserPersonaContainer {
		display: none;
	}
	
	#UserInfoContainer {
		float: left !important;
		margin-left: 0px;
	}
	
	#NameField {
		font-size: 1.2em !important;	
		font-weight: bold !important;
	}
	
	#MobilePhoneField, #EmailField, #MoreInfoShort, #MoreInfoLong, #SelfSearchInfo {
		font-size: 1em !important;	
	}
	
	#MoreInfoShort, #MoreInfoLong, #SelfSearchInfo, .ms-srch-people-item-separator {
		display: none !important;	
	}
	
	#JobTitleField, #DepartmentField {
		font-size: 0.8em !important;	
	}
	
	#DepartmentField {
		padding-top: 0px;
	}
	
	.ms-srch-people-outerContainer {
		width: auto !important;
		padding-left: 0px !important;
		border-bottom-width: 10px !important;
		border-bottom-style: solid !important;
		border-bottom-color: #ffffff !important;	
		background-color: #e4e4e4 !important;
	}
}