﻿
/*changed to tasks-wrapper*/
.tasks-wrapper{
	margin-top:10px;
	background-color:#E0E0E0;
	margin-bottom:10px;
}

/*
.tasks-container.tatm{
	margin-bottom:10px;
}
*/

.tasks-expand{
	position: relative;
    cursor: pointer;
    color: #fff;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: left;
    overflow: hidden;
    max-height: 60px; /*32px*/
}


.tasks-expand.odd{
	background-color:#009FD4;
}



.tasks-expand.even{
	background-color:#009999;
}
	

.tasks-expand-button{
	cursor:pointer;
	position: absolute;
    top: 0px;
    right: 20px;
    font-size: 34px;	/*25px*/
    color: #fff;
}

.tasks-mugshot-image{
	border-radius: 50%;
    width: 38px;
    height: 38px;
    display: inline-block;
    vertical-align: top;
}

.tasks-assignee-name{
	display: inline-block;
    vertical-align: middle;
    line-height: 38px;
    padding-left: 10px;
}



/*
.tasks-container .task-item {
	color:#000;
	display:inline-block;	
	height:auto;
	position:relative;
	cursor:pointer;
	width:25%;
	box-sizing:border-box;
	padding:20px 1% 20px 1%;
	overflow:hidden;
}
*/

.tasks-content{
	padding:10px;
}

/*table content*/
.tasks-wrapper{
	
}

.task-content-table{
	width:100%;
}

.task-content-row-header{
	
}

.task-content-col-header{
	vertical-align:top;
	padding: 2px 8px 8px 8px;
    color: #444;
}

.task-content-row{
	cursor:pointer;
}

.task-content-row:hover{
	background-color:#f2f2f2;
}

.task-content-col{
	vertical-align:top;
	padding: 4px;
    color: #000;
}

.subject{
	width:25%;
}

.desc{
	width:45%;
}

.due{
	width:10%;
}

.status{
	witdh:10%
}

.created{
	width:10%;
}


.tasks-container .tasks-content .task-content-empty{
	width:100%;
	box-sizing:border-box;
	padding:20px 1% 20px 1%;
}


.tasks-filter-container{
	position:relative;
    margin-top:10px;
 	margin-bottom:10px;   
 }
 
.tasks-filter-title{
	display:inline-block;
}

.tasks-filter-box{
	height: 32px;
    box-sizing: border-box;
    width: 80%;
}

.tasks-filter-button{
	cursor:pointer;
	position:absolute;
	right:0px;
	background-color: #939393 !important;
    color: #fff !important;
    font-size: 15px !important;
    padding: 5px 10px !important;
    box-sizing: border-box;
}


/*wrapper to disable the item when hold event is triggered*/

/*
.tasks-container .task-item .task-item-wrapper{
	height:100%;
	width:100%;
}

.tasks-container .task-item .task-date {
	width: 27%;
    margin-left: 3%;
    min-height: 80px;
    box-sizing:border-box;
    padding-bottom: 5px;
    margin-top: 0.5em;
    background-color: #fff;
    display: inline-block; 
   }

.tasks-container .task-item .task-date .task-date-due {
	text-align: center;
    margin-bottom: 5px;
    padding: 3px;
    background-color: red;
    color: #fff;
    font-size: 0.9em;
}

.tasks-container .task-item .task-date .task-date-start .task-date-start-day {
	text-align: center;
    font-size: 1.2em;
}

.tasks-container .task-item .task-date .task-date-start .task-date-start-month {
	text-align: center;
    font-size: 1.2em;
}


.tasks-container .task-item .task-content{
	width: 65%;
    height: 1.5em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    display: inline-block;
    vertical-align: top;
  }


.tasks-container .task-item .task-content-category{
	font-weight: normal;
    margin-bottom: 5px;
    display: inline-block;
    padding: 4px 6px 4px 6px;
    background-color: #FFFFF3;
    font-size: 0.8em;
  }


.tasks-container .task-item .task-content-subject{
	font-weight:bold;
}
*/

@media screen and (max-width:1280px){
	.tasks-filter-box{
    	width: 80%;
	}
}

@media screen and (max-width:1024px){
	/*
	.tasks-container .task-item{
		width:33%;
	}
	*/

	.tasks-filter-box{
    	width: 70%;
	}
}

@media screen and (max-width:800px){
	/*
	.tasks-container .task-item{
		width:50%;
	}
	*/

	.tasks-filter-box{
    	width: 60%;
	}
}

@media screen and (max-width:600px){
	/*
	.tasks-container .task-item{
		width:100%;
	}
	*/

	.tasks-filter-box{
    	width: 50%;
	}
}


@media screen and (max-width:480px){
	.tasks-filter-box{
    	width: 100%;
	}
	
	.tasks-filter-title{
		display: inline-block;
	    text-align: center;
	    width: 100%;
	    margin-bottom: 10px;
	}
	
	.tasks-filter-button{
		position:relative;
		margin-right: auto;
	    margin-left: auto !important;
	    display: block;
	    margin-top: 10px;
	}
}



